*.aux
*.toc
*.tex~
*.log
*.lof
*.idx
*.bbl
*.blg
*.lot
*.ilg
*.lol
*.out
*.ind
*.backup
*.synctex.gz
*.xml
*.equ
*.fdb_latexmk
*.fls
texmf
*.pdf
.travis.yml
.directory
output/*
build/*
persiapan/*
dump/*
*.copy.tex
*.DS_STORE
